.product-container {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  color: rgb(0, 0, 0);
}

.product-container .item {
  font-style: italic;
  font-size: 1rem;
}

.product-container .item .row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-left: 2rem;
  font-size: 0.11rem;
}

h1,
h2,
h4 {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #e31c79;
  border-radius: 0.4rem;
  border: 1px solid #545353;
  color: red;
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 2.8rem;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  text-align: center;
}

h4 {
  font-size: 1.6rem;
}

h3,
h4,
h5,
h6 {
  margin-top: 0.8rem;
  font-size: 1rem;
}

.product-description p,
ul,
ol {
  margin-left: 2rem;
  font-size: 0.8rem;
}

.product-container img {
  width: 20%;
  height: auto;
  margin-top: 1rem;
}

.product-container {
  border-radius: 0.4rem;
  border: 1px solid #545353;
}

h4 {
  color: red !important;
}